[user]
  name = Guru
  email = mail@gururaja.in
  signingkey = 58FB3EF9E4EDAEBB
[alias]
  st = status
  ci = commit
  ac = commit -am
  co = checkout
  br = branch
  df = diff
  dfr = diff main origin/main
  lg = log --oneline --decorate --all --graph
  conflict = pull --no-rebase origin main
[advice]
  statusHints = false
[commit]
  gpgsign = true
[init]
  defaultBranch = main
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
