#!/usr/bin/env xdg-open
[Desktop Entry]
Categories=AudioVideo;Audio;Video;Player;TV
Comment=Chrome extension and python server that allows you to play videos in webpages with MPV instead.
Exec=/home/guru/.local/bin/play-with-mpv
Icon=mpv
Name=Play With MPV (server)
Type=Application
